# Dependencies
node_modules/

# Build outputs (if generated automatically)
public/build/
dist/

# Environment variables / local configuration
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db
package-lock.json/
package.json/
postcss.config.js/
tailwind.config.js/